.playlist {
	background-color: #DDDDDD;
	border: none;
}

.list-group-item {
    border: none;
}

p {
	text-align: center;
}

.playlist-header {
  background-color: #555555;
  color: white;
  padding-top: 10px;
  padding-bottom: 6px;
  border-radius: 5px;
}