ul {
	background-color: #333333;
}

.PlaylistApp {
	background-image: url("/../prism.png");
	background-color: #333333;
}

.main-header {
	color: red;
}

.playlist-collection-container .container {
	background-color: #333333;
}